/****** BASE RESET ******/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

li {
  list-style-type: none;
}

$colors: (
  text: rgb(255, 255, 255),
  accent:  rgb(18, 236, 18)
);

@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

/****** FONTS ******/
html {
  font-family: Nunito, Verdana, cursive;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 55rem;
  text-align: center;
}

.logo-container {
  margin: 1rem auto;

  img {
    height: 10rem;
    width: auto;
  }
}

.info-container {
  margin: 1rem auto 0.5rem;
  padding: 2rem 1rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: color(text);
  border-radius: 0.5rem;

  .info-number {
    font-weight: bold;
  }
}

.content-container {
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1a1919;
  color: color(text);
  width: 100%;
  border-radius: 0.5rem;
  
  .menu-title {
    width: 10rem;
    height: 3rem;
    margin: 0 0.5rem;
    vertical-align: middle;
    line-height: 3rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    &:first-child {
      width: 11rem;
    }

    &:nth-child(2) {
      margin: 0 1rem 0 2rem;
    }

    &:nth-child(3) {
      padding-left: 2rem;
    }
  }
}

.game-container {
  display: flex;
  flex-direction: column;

  .game {
    display: flex;
    flex-direction: row;
    background-color: color(text);
    margin: 0.5rem 0;
    border-radius: 0.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.game-label {
  position: absolute;
  background-color: color(accent);
  clip-path: polygon(100% 0%, 92% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  text-align: start;
  height: 1.5rem;
  margin: -0.7rem 0 0 -0.5rem;
  padding: 0.3rem 1.5rem 0 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 5;
} 

.image-container {
  .image {
    height: 7rem;
    width: 12rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    clip-path: polygon(92% 1%, 100% 50%, 92% 100%, 0% 100%, 0 50%, 0% 0%);
  }
}


.description-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;

  .name {
    display: none;
  }

  .description, .bonus {
    font-size: 0.8rem;
    width: 7rem;
  }

  .price {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;

  .star{
    height: 1.2rem;
    width: auto;
    margin-top: 0.5rem;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;

  .btn {
    height: 2rem;
    width: 8rem;
    margin-left: 2rem;
    color: color(text);
    font-weight: 700;
    letter-spacing: 0.1rem;
    background-color: color(accent);
    border-color: transparent;
    border-radius: 0.2rem;
    outline: none;

    &:focus {
      border: 1px solid #000;
    }
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    height: 100%;
    background-color: black;
    background-size: 100% 35%;
    background-position: top;
    background-repeat: no-repeat;
  }
  
  .container {
    height: 100%;
    width: 100%;
  }
  
  .logo-container {
    background-color: #000;
    text-align: start;
    padding: 1rem 0 1rem 3rem;
    margin: 0;
  
    img {
      height: 5rem;
      width: auto;
    }
  }
  
  .info-container {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: start;

    .info-main {
      text-align: start;
      padding: 0 1rem;
    }
  
    .info-additional {
      display: none;
    }

    .info-number {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      padding: 1.5rem 1rem;
      margin: 0;
    }
  }
  
  .content-container {
    width: 95%;
    margin: 0 auto;
  }
  
  .menu-container {
    display: none;
  }
  
  .game-container {
  
    .game {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 8rem;
      margin: 1.5rem 0;
    }
  }

  .game-label {
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    text-align: center;
    right: 0;
    height: 1.5rem;
    width: 10rem;
    margin: 0 0.8rem 0 0;
    padding: 0.3rem 0 0 0;
    border-top-right-radius: 0.5rem;
  } 
  
  .image-container {
    display: flex;
    align-items: center;
    
    .image {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      border: 0.2rem solid rgb(61, 61, 61);
    }
  }
  
  
  .description-container {
    width: 30%;

    .name {
      display: flex;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
  
    .description, .bonus {
      font-size: 0.8rem;
      width: 7rem;
    }
  
    .price {
      display: none;
    }
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    padding-right: 1rem;
  }
  
  .rating-stars {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
    padding-top: 1rem;

    span {
      display: none;
    }
  }
  
  .rating {
    display: none;
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    justify-content: center;
  
    .btn {
      width: 8rem;
      font-size: 1rem;
    }
  }
}
